/* Afacad Regular */
@font-face {
  font-family: "Afacad";
  src: url("/fonts/Afacad-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Afacad Italic */
@font-face {
  font-family: "Afacad";
  src: url("/fonts/Afacad-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Afacad Medium */
@font-face {
  font-family: "Afacad";
  src: url("/fonts/Afacad-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Afacad SemiBold */
@font-face {
  font-family: "Afacad";
  src: url("/fonts/Afacad-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Afacad Bold */
@font-face {
  font-family: "Afacad";
  src: url("/fonts/Afacad-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Afacad", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size-adjust: 0.45;
  ascent-override: 92%;
  descent-override: 18%;
  line-gap-override: 0%;
}

.animate-fadein {
  -moz-animation: fadeIn ease 500ms;
  -ms-animation: fadeIn ease 500ms;
  -o-animation: fadeIn ease 500ms;
  -webkit-animation: fadeIn ease 500ms;
  animation: fadeIn ease 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
