/* Afacad Regular */
@font-face {
  font-family: "Afacad";
  src:
    url("/fonts/AfacadRegular.woff2") format("woff2"),
    url("/fonts/AfacadRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* Afacad Italic */
@font-face {
  font-family: "Afacad";
  src:
    url("/fonts/AfacadItalic.woff2") format("woff2"),
    url("/fonts/AfacadItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Afacad Medium */
@font-face {
  font-family: "Afacad";
  src:
    url("/fonts/AfacadMedium.woff2") format("woff2"),
    url("/fonts/AfacadMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Afacad SemiBold */
@font-face {
  font-family: "Afacad";
  src:
    url("/fonts/AfacadSemiBold.woff2") format("woff2"),
    url("/fonts/AfacadSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Afacad Bold */
@font-face {
  font-family: "Afacad";
  src:
    url("/fonts/AfacadBold.woff2") format("woff2"),
    url("/fonts/AfacadBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Afacad", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size-adjust: 0.45;
  ascent-override: 92%;
  descent-override: 18%;
  line-gap-override: 0%;
}
